img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: 'Raleway';
	margin-left: 1.66%;
	font-size: 780%;
	text-transform: uppercase;
	font-weight: 800;
	border-bottom: 3px solid black;
	width: 30%;
	padding-bottom: 50px;
	margin-bottom: 1.2%;
}

body {
	background-color: #f1f1f1;
}