/*font-family*/
p {
	font-family: Arial;
}

h1 {
	font-family: Georgia;
}
/*font-size*/
h1 {
	font-size: 200px;
}

/*font-weight*/
p {
	font-weight: bold;
}

/*line-height*/

/*text-align*/

/*text-decoration*/